section
	h1 Introduction to Websites with POST and ACLs
	ul
		li Websites are one aspect of <strong>The Internet</strong>
		li <strong>The Internet</strong> is a general term that includes websites, instant messaging, voip, torrenting and countless ofther activities that involve sending data between electronic devices.
		li For now lets simplify things and look at **The Internet** from the perspective of a <strong>website</strong>.